<launch>
  

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find arjunamr_description)/world/house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  


  <param command="$(find xacro)/xacro $(find arjunamr_description)/urdf/arjunamr.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model arjunamr" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

</launch>
