
<launch>
  <!-- Arguments -->
  <arg name="model" default="$(find arjunamr_description)/urdf/arjunamr.xacro"/>
   <arg name="map_file" />
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  
  

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find arjun)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find arjun)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <arg default="true" name="gui"/>
  <arg default="$(find arjunamr_description)/launch/arjun_nav.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
  
</launch>
